* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #196e67;
  display: grid;
  grid-template-columns:
    repeat(4, 1fr);
  grid-template-rows:
    repeat(4, 1fr);
}

.container {
  background-color: #244349;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
  margin: 5px;
  color: #dbdbdb;
}

header {
  grid-row: 1;
  grid-column: 1 / 5;
}

main {
  grid-row: 2 / 4;
  grid-column: 2 / 5;
}

.main_content {
  display: grid;
  grid-template-columns: 
    repeat(4, 1fr);
    margin: 20px;
}

.main_content img {
  grid-column: 1 / 2;
  width: 90%;
  object-fit: scale-down;
}

.main_content p {
  grid-column: 2 / 5;
  text-align: left;
  margin-left: 20px
}

aside {
  grid-row: 2 / 4;
  grid-column: 1;
}

footer {
  grid-row: 4;
  grid-column: 1 / 5;
}

a:link {
  color: #67c4bc;
}

a:visited {
  color: #369b92;
}

a:hover {
  color: #dbdbdb
}

a:active {
  color: #dbdbdb
}

 @media (max-width: 800px) {

  body {
    display: grid;
    grid-template-columns:
      repeat(4, 1fr);
    grid-template-rows:
      repeat(5, 1fr);
  }

  .main_content p {
    text-align: center;
  }

  aside {
    grid-row: 4;
    grid-column: 1 / 5;
  }

  main {
    grid-row: 2 / 4;
    grid-column: 1 / 5;
  }

  footer {
    grid-row: 5;
    grid-column: 1 / 5;
  }
  
} 