h1
{
    text-align: center;
    font-family: sans-serif;
    color: rgb(223, 215, 205);
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 35px;
  }
  
h2
{
    text-align: center;
    font-family: sans-serif;
    color: rgb(223, 215, 205);
  }

p {
    text-align: center;
    font-family: sans-serif;
    color: rgb(223, 215, 205);
    padding-left: 15%;
    padding-right: 15%;
  }

body {
  background-image: url(https://imgur.com/VfbkD6t.jpg);
  background-size: cover;
}

.maintxt {
    width: 80%;
    background-color: rgb(6, 54, 54);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 600px;
  }
  
.pikachu {
  display: block;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  }

footer {
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
  }

.footertxt {
  width: 80%;
  background-color: rgb(28, 104, 104);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 600px;
}
  
a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(179, 228, 228);
}

a:active {
  color: rgb(179, 228, 228);
}
