* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #125f59;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .container {
    background-color: #cee5e9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .info h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .info p {
    font-size: 16px;
    line-height: 1.25;
  }
  
  .links {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .link-btn {
    background-color: #3f2685;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .link-btn:hover {
    background-color: #52379c;
  }
  
  /* Responsive Design */
  @media (max-width: 500px) {
    .card {
        flex-direction: column;
        text-align: center;
    }
  
    .links {
        flex-direction: column;
    }
  
    .link-btn {
        width: 100%;
        padding: 12px;
    }
  }
  